<div class="row">
  <div class="col-4">
    <h5 jhiTranslate="global.menu.planning" class="red">Planning</h5>
  </div>
  <div class="col-4">
    <ngb-datepicker (navigate)="dateNavigate($event)" class="datepicker-only-month-select">
      <ng-template ngbDatepickerContent>

      </ng-template>
    </ngb-datepicker>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col-6"><h5 jhiTranslate="notartztApp.location.detail.title" style="float: right">Location</h5></div>
      <div class="col-6">
        <ng-select [items]="locations" [(ngModel)]="selectedLocation"
                   style="width: 250px; float: left"
                   bindLabel="name"
                   [clearable]="false"></ng-select>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <table class="table">
    <thead>
    <th scope="col">Datum</th>
    <th scope="col">Tag</th>
    <th *ngFor="let shiftType of selectedLocation?.shiftTypes">{{getShiftNameTitle(shiftType)}}</th>
    </thead>
    <tbody>
    <tr *ngFor="let day of days" [ngClass]="getLineClass(day)">
      <td>{{day.date}}</td>
      <td>{{day.dayOfWeek}}</td>
      <td *ngFor="let shiftType of selectedLocation?.shiftTypes"></td>
    </tr>
    </tbody>
  </table>
</div>
